.accountDetail .formItem {
    margin-bottom: 11%;
}

form {
    margin-left: 15%;
    width: 70%;
}

button {
    background: #17aadf;
    border: 1px solid #1593be;
    border-radius: 20px;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 20%;
    padding: 3%;
    -webkit-appearance: none;
    width: 60%;
    z-index: 15;
}

.invert {
    background: #ffffff;
    color: #17aadf;
}

button:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #17aadf;
    cursor: pointer;
}

.invert:hover {
    background: #17aadf;
    color: #ffffff;
}

button:click {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #17aadf;
    cursor: pointer;
}

input {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    margin-left: -3.5%;
    width: 100%;
}

label {
    color: #ffffff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
}

textarea {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    width: 100%;
}
