body {
    background-color: #95d5ff;
}

h1 {
    color: #ffffff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header{
    font-size: xx-large;
    text-align: center;
}

.status_Staff{
    color: #3f9b47;
}

.status_Dev{
    color: #edae58;
}

#homepage_img {
    bottom: -5%;
    height: auto;
    right: -2%;;
    position: fixed;
    width: 35%;
    z-index: 1;
}
