.username {
    color: #efefef;
    font-size: small;
    font-weight: normal;
}

.alert {
    color: #d10606;
    font-size: large;
    font-weight: bolder;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.postbutton {
    border: 0px solid #ffffff;
    background-color: #95d5ff;
    color: #ffffff;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 5%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
    width: 90%;
}

.postbutton:hover {
    border: 0px solid #ffffff;
    background-color: #95d5ff;
    color: #ffffff;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 5%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
    width: 90%;
}

.postbutton:click {
    border: 0px solid #ffffff;
    background-color: #95d5ff;
    color: #ffffff;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 5%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
    width: 90%;
}
